.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

#put-grid-here {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    padding-left: 10px;
    grid-gap: 15px;
}